In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

RANDOM_SEED = 12345

ACQUIRE DATA

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/customer_data.csv")
df

          customer_id       month  ...  cluster  churned
0                   2  2017-02-01  ...        B    False
1                   4  2017-02-01  ...        B    False
2                   7  2017-02-01  ...        B    False
3                  14  2017-02-01  ...        C    False
4                  20  2017-02-01  ...        B    False
...               ...         ...  ...      ...      ...
13131247      1423204  2020-10-01  ...        B     True
13131248      1423205  2020-10-01  ...        B    False
13131249      1423206  2020-10-01  ...        C    False
13131250      1423207  2020-10-01  ...        B    False
13131251      1423208  2020-10-01  ...        C    False

[13131252 rows x 11 columns]

DESCRIBE DATA

In [ ]:
#CHECK IF BALANCED OR UNBALANCED DATASET
print("Negative")
print(df.churned.isin([0]).sum())
print("Positive")
print(df.churned.isin([1]).sum())

Negative
12540477
Positive
590775

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13131252 entries, 0 to 13131251
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   customer_id           int64
 1   month                 object
 2   months_since_joined   int64
 3   referred_friends      int64
 4   transaction_count     float64
 5   transaction_value     float64
 6   clv                   float64
 7   total_reward_points   float64
 8   earned_reward_points  float64
 9   cluster               object
 10  churned               bool
dtypes: bool(1), float64(5), int64(3), object(2)
memory usage: 1014.4+ MB

In [ ]:
new_data = df

new_data = new_data.sample(n=1000000 ,random_state=RANDOM_SEED)
#new_data = df.churned.replace({ False: 0, True:1 }, inplace=False)

customer_id = new_data.customer_id

In [ ]:
new_data[(new_data['month'])]

In [ ]:
index=pd.date_range(start='2017-02-01', end='2018-02-01')
hmm=pd.DataFrame(range(len(index)), index=index, columns=['month'])

In [ ]:
hmm

            month
2017-02-01      0
2017-02-02      1
2017-02-03      2
2017-02-04      3
2017-02-05      4
...           ...
2018-01-28    361
2018-01-29    362
2018-01-30    363
2018-01-31    364
2018-02-01    365

[366 rows x 1 columns]

In [ ]:
f

In [ ]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(sampling_strategy='minority', random_state=7)

In [ ]:
customer_id

In [ ]:
new_data.churned.replace({ False: 0, True:1 }, inplace=True)

In [ ]:
new_data

In [ ]:
new_data = new_data.drop(["customer_id","month"], axis =1)

In [ ]:
new_data.describe()

In [ ]:
new_data.info()

In [ ]:
new_data.notnull()

In [ ]:
new_data.isnull().sum()

In [ ]:
new_data.isna().sum()

In [ ]:
from sklearn.preprocessing import LabelEncoder


label_encoder = LabelEncoder()

new_data['cluster'] = label_encoder.fit_transform(new_data.cluster)

In [ ]:
new_data

In [ ]:
new_data

In [ ]:
from sklearn.model_selection import train_test_split
X = new_data.drop('churned',axis=1)
y= new_data.churned

X_train,X_test,y_train,y_test, = train_test_split(X,y, test_size=0.3,stratify=y)

In [ ]:
print("Negative")
print(y.isin([0]).sum())
print("Positive")
print(y.isin([1]).sum())

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
classifier = RandomForestClassifier(n_estimators= 10, random_state = RANDOM_SEED)
classifier.fit(X_train,y_train)

In [ ]:
from sklearn.metrics import classification_report

y_pred = classifier.predict(X_test)

print(classification_report(y_pred,y_test))

In [ ]:
from sklearn.metrics import classification_report

y_pred = classifier.predict(X_test)

print(classification_report(y_pred,y_test))

In [ ]:
!pip install sktime

Collecting sktime
  Downloading https://files.pythonhosted.org/packages/8b/85/b58f26cf0e6404d80b365a318b9e49c6810a9ee00c44f039d65272ec4314/sktime-0.4.3-cp36-cp36m-manylinux2014_x86_64.whl (5.6MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5.6MB 4.1MB/s
Collecting scikit-learn>=0.23.0
  Downloading https://files.pythonhosted.org/packages/5c/a1/273def87037a7fb010512bbc5901c31cfddfca8080bc63b42b26e3cc55b3/scikit_learn-0.23.2-cp36-cp36m-manylinux1_x86_64.whl (6.8MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6.8MB 31.7MB/s
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from sktime) (1.1.4)
Collecting statsmodels>=0.12.0
  Downloading https://files.pythonhosted.org/packages/be/4c/9e2435ca6645d6bafa2b51bb11f0a365b28934a2ffe9d6e339d67130926d/statsmodels-0.12.1-cp36-cp36m-manylinux1_x86_64.whl (9.5MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9.5MB 45.9MB/s
Requirement already satisfied: wheel in /usr/local/lib/python3.6/dist-packages (from sktime) (0.35.1)
Requirement already satisfied: numpy>=1.18.0 in /usr/local/lib/python3.6/dist-packages (from sktime) (1.18.5)
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.23.0->sktime) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.23.0->sktime) (0.17.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.0->sktime) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.0->sktime) (2.8.1)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.12.0->sktime) (0.5.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.0->sktime) (1.15.0)
Installing collected packages: threadpoolctl, scikit-learn, statsmodels, sktime
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
  Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
Successfully installed scikit-learn-0.23.2 sktime-0.4.3 statsmodels-0.12.1 threadpoolctl-2.1.0

In [ ]:
from sktime.forecasting.compose import ReducedRegressionForecaster
from sklearn.ensemble import RandomForestRegressor
from sktime.forecasting.model_selection import temporal_train_test_split
from sktime.performance_metrics.forecasting import smape_loss

ModuleNotFoundError: ignored